* {
    box-sizing: border-box;
}

html,
body,
.wrapper {
    height: 100%;
}

@keyframes rotate {
    100% {
        background-position: 0% 50%;
    }
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.login {
    display: grid;
    place-items: center;
    margin: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #3a334e;
    animation: rotate 1s infinite alternate linear;

}

.control {
    border: 0;
    border-radius: 8px;
    outline: none;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: #fff;
    color: var(--color-default);
    font-family: inherit;
    font-size: 16px;
    transition: 0.4s;
}

.login-card {
    width: 400px;
    padding: 50px 30px 64px;
    border-radius: 1.25rem;
    background: #ccc;
    text-align: center;
    /* border: 5px solid #f8f2f2; */
}

/* .login-card:hover {
    border: 10px solid #f8f2f2;
    transition: 0.4s;
} */

.login-card img {
    width: 100px;
    height: 100px;
    align-items: center;
    margin-bottom: 20px;
    transition: 1s;
}

.login-card img:hover {
    transform: rotate(1turn);
    /* transform: scale(1.5); */
}

.login-card>h2 {
    color: var(--color-default);
    font-size: 36px;
    font-weight: 700;
    margin: 0 10px 15px;
}

.login-card>h3 {
    color: var(--color-title);
    font-size: 0.875em;
    font-weight: 600;
    margin: 0 0 40px;
    font-weight: 500;
    font-size: 1rem;
}

.login-form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.login-form input.control {
    font-size: 1.3em;
    font-style: italic;
    font-weight: 500;
    text-align: center;
}

.login-form input.control::placeholder {
    color: #aaa7bc;
}

.login-form>button.control {
    cursor: pointer;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: var(--color-default) !important;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
}

.password {
    position: relative;
}

.toggle {
    position: absolute;
    top: 50%;
    right: 16px;
    translate: 0 -50%;
    width: 30px;
    height: 30px;
    background-image: url("../images/icons/show.svg");
    block-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
}

.toggle.showing {
    background-image: url("../images/icons/hide.svg");
}